<div class="card">
  <div class="card-body">
    <form method="POST" action="/actualizar_curso/{{curso.id}}">
    {{>alertas}}
      <h3 class="text-center font-weight-bold">
        Editar Curso
      </h3>
      <br />
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nombre" class="font-weight-bold">
            Nombre
          </label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del curso"
            id="nombre"
            name="nombre"
            value="{{curso.nombre}}"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="Precio" class="font-weight-bold">
            Precio
          </label>
          <input
            type="text"
            class="form-control"
            placeholder="Precio"
            id="precio"
            name="precio"
            value="{{curso.precio}}"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="descripcion" class="font-weight-bold">
          Descripción
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Descripcion"
          id="descripcion"
          name="descripcion"
          value="{{curso.descripcion}}"
        />
      </div>
      <div class="form-group">
        <label for="categoria" class="font-weight-bold">
          Categoria
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Categoria"
          id="categoria"
          name="categoria"
          value="{{curso.categoria}}"
        />
      </div>
      <button type="submit" class="btn btn-lg">
        Actualizar
      </button>
    </form>
  </div>
</div>