<div class="container">
  {{#if cursosArrayView}}
    <div class="row">
      {{#each cursosArrayView}}
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="card h-100">
            <img
              src="/uploads/{{imagen}}"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body d-flex flex-column">
              <h5 class="font-weight-bold card-titulo-curso">
                {{nombreCurso}}
              </h5>
              <div class="card-puntaje-curso">
                <input
                  type="number"
                  name="puntaje"
                  id="rating-readonly"
                  class="rating text-warning"
                  data-clearable="remove"
                  value="{{puntaje}}"
                  data-readonly
                />
              </div>
              <h2 class="card-precio font-weight-bold">
                {{precio}} US$
              </h2>
              <a href="/admin_curso/{{url}}" class="mt-auto btn">
                Administrar
              </a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">
          Todavía no tienes ningún curso.
        </h5>
        <p class="card-text">
          Que esperas para crear tu primer curso.
        </p>
      </div>
    </div>
  {{/if}}
  <a href="/agregar_curso" class="btn btn-opt">
    Agregar Curso
  </a>
</div>