<div class="container">
  {{#if cursosArrayView}}
    <div class="row">
      {{#each cursosArrayView}}
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="card h-100">
            <img
              src="/uploads/{{imagen}}"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body d-flex flex-column">
              <h5 class="font-weight-bold card-titulo-curso">
                {{nombreCurso}}
              </h5>
              <div class="card-autor-curso">
                {{nombre}} {{apellido}}
              </div>
              <div class="card-puntaje-curso">
                <input
                  type="number"
                  name="puntaje"
                  id="rating-readonly"
                  class="rating text-warning"
                  data-clearable="remove"
                  value="{{puntaje}}"
                  data-readonly
                />
              </div>
              <h2 class="font-weight-bold card-precio">
                {{precio}} US$
              </h2>
              <a href="/info_curso/{{url}}" class="btn mt-auto">
                Ver Mas
              </a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="card card-null-message">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">
          Todavia no hay cursos para inscribirte.
        </h5>
        <p class="card-text">
          Se paciente, nuestros instructuroes estan haciendo nuevos cursos para ti.
        </p>
      </div>
    </div>
  {{/if}}
</div>